.v-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Poiret One', cursive;
}
.v-pad{
  margin:2em 0;
}

.hidden_screen{
  display:none;
}

p{
  font-family: 'Catamaran', sans-serif;
  font-size:1.5em;
  line-height: 1.2em;
}
